:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #ffffff;
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #1d6fa5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9f9f9;
  color: #fff6f6;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #87CEEB; /* Azul cielo */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #5ea9c6;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Se elimina el modo oscuro */
@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #f9f9f9;
  }

  a:hover {
    color: #1d6fa5;
  }

  button {
    background-color: #87CEEB;
    color: white;
  }
}
